@charset "UTF-8";
.main-todo3 {
  background-color: #000000;
  color: white;
  padding-top: 8rem;
  padding-bottom: 5rem;
  /* primera seccion */
  /* segunda seccion */
  /* tercera seccion */
}
.main-todo3 .ds {
  display: flex;
  transition: transform 0.3s ease;
}
.main-todo3 .ds:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.main-todo3 .titulo-1 {
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin-bottom: 4rem;
  background-image: url("../img/diseño.png");
  background-position: center center;
  border: 2px solid white;
}
.main-todo3 .ds2 {
  display: flex;
  justify-content: space-around;
}
.main-todo3 .abajofoot {
  margin-bottom: 5rem;
}
.main-todo3 .c-1 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.main-todo3 .p-1 {
  height: 5rem;
  width: 20rem;
  text-align: justify;
}
.main-todo3 .s2 {
  margin-top: 4rem;
}
.main-todo3 .c-2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.main-todo3 .c-3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 11rem;
}

/* MAIN2 */
/* primera seccion */
.titulo-2 {
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../img/dolares.png");
  background-position: center center;
  margin-top: 10rem;
  margin-bottom: 4rem;
  border: 2px solid white;
}

.h2-facul {
  font-size: 3.5rem;
}

.c-4 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.p-2,
.p-3 {
  height: 5rem;
  width: 20rem;
  text-align: justify;
  margin-bottom: 6rem;
}

.c-5 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.c-6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 4rem;
  margin-left: 6rem;
}

/* TERCERA FACULTAD */
.titulo-3 {
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../img/ciencias.png");
  background-position: center center;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
  border: 2px solid white;
}

.c-7,
.c-8,
.c-9 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.c-7.c-8,
.c-8.c-8,
.c-9.c-8 {
  margin-left: 3rem;
  margin-top: 4rem;
}
.c-7.c-9,
.c-8.c-9,
.c-9.c-9 {
  margin-top: 4rem;
}

.main-todo2 {
  background-color: #000000;
  color: white;
  padding-top: 8rem;
}
.main-todo2 .sectiondeelegirnos .p-elegirnos {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  background-image: url("../img/arenayplantita.png");
  background-position: 100%;
  background-size: cover;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  transition: transform 0.3s ease;
}
.main-todo2 .sectiondeelegirnos .p-elegirnos:hover {
  transform: scale(1.1);
}
.main-todo2 .sectiondeelegirnos .p-elegirnos .h1_elegirnos {
  font-size: 2rem;
}
.main-todo2 .sectiondeelegirnos .art-razones {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}
.main-todo2 .sectiondeelegirnos .p-raz {
  height: 10rem;
  width: 25rem;
  margin-left: 3rem;
  margin-top: 2rem;
}
.main-todo2 .sectiondeelegirnos .p-raza {
  height: 10rem;
  width: 20rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.main-todo2 .sectiondeelegirnos .list {
  margin-bottom: 1rem;
}
.main-todo2 .sectiondemae .fl-uno {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}
.main-todo2 .sectiondemae .fl-uno:hover {
  transform: scale(1.1);
}
.main-todo2 .sectiondemae .h1-nuestrosprogramas {
  font-size: 2rem;
}
.main-todo2 .sectiondemae .maestria {
  padding: 4rem 0 4rem 0;
  background-image: url("../img/posgrado.png");
  background-position: 100%;
  background-size: cover;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 4rem;
}
.main-todo2 .sectiondemae .titfle {
  display: flex;
  justify-content: space-evenly;
}
.main-todo2 .sectiondemae .titul {
  margin-top: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-todo2 .sectiondemae .direccom {
  margin-right: 1rem;
}
.main-todo2 .sectiondemae .pff {
  text-align: justify;
  height: 8rem;
  width: 20rem;
}
.main-todo2 .sectiondemae .tituldos {
  margin-top: 8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-todo2 .sectiondemae .direcrec {
  width: 22rem;
  text-align: center;
}
.main-todo2 .sectiondemae .titultres {
  margin-top: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-todo2 .sectdemaes .posgra {
  padding: 4rem 0 4rem 0;
  background-image: url("../img/posgrado.png");
  background-position: 100%;
  background-size: cover;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 10rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.main-todo2 .sectdemaes .posgra .mae {
  font-size: 2rem;
}
.main-todo2 .sectdemaes .esped {
  text-transform: uppercase;
}
.main-todo2 .sectdemaes .mkt {
  margin-right: 2rem;
}
.main-todo2 .sectdemaes .espe {
  margin-top: 6rem;
}
.main-todo2 .sectdemaes .fin {
  margin-left: 6rem;
  margin-right: 6rem;
}
.main-todo2 .sectdemaes .titfle {
  display: flex;
  justify-content: space-evenly;
}
.main-todo2 .sectdemaes .arquitectura {
  text-decoration: none;
}
.main-todo2 .sectdemaes .pff {
  text-align: justify;
  height: 8rem;
  width: 20rem;
}

.main-todo2 {
  background-color: #000000;
  color: white;
  padding-top: 8rem;
}
.main-todo2 .sdecur .fl-uno {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}
.main-todo2 .sdecur .fl-uno .h1-nuestrosprogramas {
  font-weight: bold;
}
.main-todo2 .sdecur .np {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.main-todo2 .sdecur .pnp {
  text-align: justify;
  width: 55rem;
  margin-left: 40rem;
  line-height: 2rem;
}
.main-todo2 .sdecur .pnp .rp {
  text-decoration: none;
}
.main-todo2 .sdecur .igm {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  transition: transform 0.3s ease;
}
.main-todo2 .sdecur .igm .imgcurs {
  height: 12rem;
  width: 14rem;
  border: 2px solid white;
}
.main-todo2 .sdecur .igm .imgcurs:hover {
  transform: scale(1.1);
}

.secparascss .titulodecurso {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 4rem 0 4rem 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-image: url("../img/ciber.jpg");
  background-size: cover;
}
.secparascss .titulodecurso .h2cur {
  font-size: 2rem;
}
.secparascss .todo {
  display: grid;
  grid-template-areas: "item1 item2 item2" "item1 item3 item3";
  width: 50rem;
  margin-left: 40rem;
}
.secparascss .todo.artcu {
  margin-top: 4rem;
}
.secparascss .todo .item1 {
  grid-area: item1;
  margin-right: 1rem;
}
.secparascss .todo .item2 {
  grid-area: item2;
  text-align: start;
}
.secparascss .todo .item2 .tdder {
  font-size: 1.5rem;
}
.secparascss .todo .item3 {
  grid-area: item3;
  text-align: justify;
}
.secparascss .todo .item3 .pdeitem3 {
  font-size: 1.28rem;
  margin-top: 1rem;
}
.secparascss .todo .imgdecurso {
  height: 15rem;
  width: 25rem;
  border: 1px solid white;
}
.secparascss.artcu {
  margin-top: 4rem;
}
.secparascss .item1 {
  grid-area: item1;
  margin-right: 1rem;
}
.secparascss .item2 {
  grid-area: item2;
  text-align: start;
}
.secparascss .item2 .tdder {
  font-size: 1.5rem;
}
.secparascss .item3 {
  grid-area: item3;
  text-align: justify;
}
.secparascss .item3 .pdeitem3 {
  font-size: 1.28rem;
  margin-top: 1rem;
}
.secparascss .imgdecurso {
  height: 15rem;
  width: 25rem;
  border: 1px solid white;
}

.artdesccs .titcrean {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 4rem 0 4rem 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-image: url("../img/meto.jpg");
  background-size: contain;
}
.artdesccs .titcrean .h2decrea {
  font-size: 2rem;
}
.artdesccs .papre {
  display: flex;
  margin-left: 42rem;
  text-align: justify;
  width: 50rem;
  line-height: 2rem;
}

.main-todo2 {
  padding-bottom: 4rem;
}
.main-todo2 .secdecontacto .contacto {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("../img/fondoedificio.png");
  background-position: 100%;
  background-size: contain;
  border: 2px solid white;
}
.main-todo2 .formulario {
  height: 25rem;
  padding: 2rem 5.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  text-align: center;
  width: 34rem;
  border: 2px solid white;
  background-position: 100%;
  margin-left: 50rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.main-todo2 .formulario .form .form-txt {
  display: flex;
  justify-content: space-between;
}
.main-todo2 .formulario .form .form-txt a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 2.5rem;
  font-size: 0.8rem;
}
.main-todo2 .formulario .form .form-txt a:hover {
  color: #555e56;
}
.main-todo2 .formulario .form .imput-group {
  display: flex;
  flex-direction: column;
}
.main-todo2 .formulario .form .imput-group input {
  background-color: #ffffff;
  border-radius: 1rem;
  height: 3rem;
  color: #000000;
}
.main-todo2 .formulario .form .imput-group .email {
  margin-bottom: 1rem;
}
.main-todo2 .formulario .form .imput-group .nombre {
  margin-bottom: 1rem;
}
.main-todo2 .formulario .form .imput-group .textarea {
  width: 17rem;
  max-height: 6rem;
  overflow: hidden;
  background-color: #ffffff;
  padding: 2rem 1.4rem;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 1rem;
  color: #000000;
}
.main-todo2 .formulario .form .imput-group .textarea::placeholder {
  color: #000000;
}
.main-todo2 .formulario .form .imput-group .textarea:focus {
  outline: #000000;
}
.main-todo2 .formulario .form .imput-group .boton {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  height: 4rem;
  width: 6rem;
  border-radius: 1rem;
  margin-left: 5.5rem;
}
.main-todo2 .formulario .form .imput-group .boton:hover {
  background-color: #bed1c0;
}

footer {
  box-sizing: border-box;
  text-transform: capitalize;
  background-color: #000000;
}
footer .container {
  max-width: 150rem;
  margin: 0 auto;
}
footer .container .img_creditos2 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 0rem;
  margin-bottom: 3rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
footer .container .img_creditos2 .logito-foot {
  height: 4rem;
  width: 20rem;
  transition: transform 0.3s ease;
}
footer .container .img_creditos2 .logito-foot:hover {
  transform: scale(1.1);
  cursor: pointer;
}
footer .container .footer_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 4rem;
}
footer .container .footer_row .footer_links {
  width: 25%;
  padding: 0 1.5rem;
  margin: 1rem;
  margin-left: 8rem;
}
footer .container .footer_row .footer_links .ubii {
  margin-left: 2rem;
}
footer .container .footer_row .footer_links .footer_ubi a img {
  width: 2rem;
  background-color: aliceblue;
  border-radius: 50%;
  padding: 0.2rem;
  margin-right: 1rem;
}
footer .container .footer_row .footer_links .footer_ubi a img:hover {
  background-color: #003e08;
  transition: all 0.5s ease;
}
footer .container .footer_row .footer_links h4 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  border-bottom: 0.2rem solid #15751e;
  padding-bottom: 1rem;
  display: inline-block;
}
footer .container .footer_row .footer_links ul li a {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
}
footer .container .footer_row .footer_links ul li a:hover {
  color: aqua;
  padding-left: 0.6rem;
}
footer .container .footer_row .footer_links h4.nav {
  color: white;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  border-bottom: 0.2rem solid #15751e;
  padding-bottom: 1rem;
  display: inline-block;
}
footer .container .footer_row .footer_links ul.ullo li.ulnav a {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
}
footer .container .footer_row .footer_links ul.ullo li.ulnav a:hover {
  color: aqua;
  padding-left: 0.6rem;
}
footer .container .footer_row .footer_links h4.con {
  color: white;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  border-bottom: 0.2rem solid #15751e;
  padding-bottom: 1rem;
  display: inline-block;
}
footer .container .footer_row .footer_links form.fmr input.inputfoo,
footer .container .footer_row .footer_links form.fmr button.btn {
  margin-bottom: 1rem;
  display: block;
  width: 14.5rem;
  height: 2rem;
}
footer .container .footer_row .footer_links form.fmr input.inputfoo::placeholder {
  padding: 0.2rem 0 0.2rem 0.4rem;
}
footer .container .footer_row .footer_links form.fmr button.btn {
  background-color: #15751e;
  border-radius: 1rem;
  height: 3.5rem;
  width: 15rem;
  font-weight: 700;
  font-size: 1.5rem;
}
footer .container .footer_row .footer_links form.fmr button.btn:hover {
  background-color: #003e08;
  transition: all 0.5s ease;
}
footer .container .redes {
  display: flex;
  justify-content: center;
}
footer .container .redes .footer_links {
  width: 30rem;
  margin-left: 10rem;
}
footer .container .redes .footer_links .social_links a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background-color: #003e08;
  margin: 0 1rem 1rem 0;
  line-height: 2rem;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
  padding: 1rem;
  transition: transform 0.3s ease;
}
footer .container .redes .footer_links .social_links a:hover {
  background-color: rgba(0, 62, 8, 0.5529411765);
  transform: translateY(-10px);
  cursor: pointer;
}
footer .container .img_creditos {
  display: flex;
  justify-content: center;
  padding-right: 4rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

@media (max-width: 414px) {
  /* PAGINA DE CURSOS RESPONSIVE */
  .main-todo2 {
    background-color: #000000;
    color: white;
    padding-top: 8rem;
  }
  .main-todo2 .sdecur .fl-uno {
    flex-direction: column;
    align-items: center;
  }
  .main-todo2 .sdecur .fl-uno .h1-nuestrosprogramas {
    font-size: 1rem;
    font-weight: bold;
  }
  .main-todo2 .sdecur .np {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .main-todo2 .sdecur .pnp {
    text-align: justify;
    width: 22rem;
    margin-left: 10rem;
    margin-right: 2rem;
    line-height: 1rem;
    margin-bottom: 4rem;
  }
  .main-todo2 .sdecur .pnp .rp {
    margin-left: 0rem;
    font-size: 1rem;
  }
  .main-todo2 .sdecur .igm {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .main-todo2 .sdecur .igm .imgcurs {
    margin-bottom: 2rem;
  }
  .main-todo2 .sdecur .todo {
    display: grid;
    grid-template-areas: "item1 item2 item2" "item1 item3 item3";
    margin-left: 0;
  }
  .main-todo2 .sdecur .todo .item1,
  .main-todo2 .sdecur .todo .item2,
  .main-todo2 .sdecur .todo .item3 {
    margin-left: 0;
    margin-right: 0;
  }
  .main-todo2 .sdecur .todo .item2 {
    text-align: center;
    width: 20rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .main-todo2 .sdecur .todo .item2 .tdder {
    font-size: 1.5rem;
  }
  .main-todo2 .sdecur .todo .item1 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .main-todo2 .sdecur .todo .item3 {
    font-size: 1rem;
    width: 100%;
    margin-left: 0;
    height: auto;
  }
  .main-todo2 .sdecur .todo .imgdecurso {
    height: 15rem;
    width: 25rem;
    border: 1px solid white;
  }
  .artcu .main-todo2 .sdecur .todo {
    margin-top: 4rem;
  }
  .main-todo2 .secparascss .titulodecurso {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 4rem 0 4rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: url("../img/ciber.jpg");
    background-size: cover;
  }
  .main-todo2 .secparascss .titulodecurso .h2cur {
    font-size: 2rem;
  }
  .main-todo2 .secparascss .todo {
    display: grid;
    grid-template-areas: "item2 " "item1" "item3";
    width: auto;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .main-todo2 .secparascss .todo .item1,
  .main-todo2 .secparascss .todo .item2,
  .main-todo2 .secparascss .todo .item3 {
    margin-left: 0;
    margin-right: 0;
  }
  .main-todo2 .secparascss .todo .item2 {
    text-align: center;
    width: 20rem;
    margin-left: 10rem;
    margin-bottom: 1rem;
  }
  .main-todo2 .secparascss .todo .item2 .tdder {
    font-size: 1.5rem;
  }
  .main-todo2 .secparascss .todo .item1 {
    margin-left: 8rem;
    margin-right: 2rem;
  }
  .main-todo2 .secparascss .todo .item3 {
    font-size: 1rem;
    width: 20rem;
    margin-left: 10rem;
    height: auto;
  }
  .main-todo2 .secparascss .todo .imgdecurso {
    height: 15rem;
    width: 25rem;
    border: 1px solid white;
  }
  .artcu .main-todo2 .secparascss .todo {
    margin-top: 4rem;
  }
  .main-todo2 .artdesccs .titcrean {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 4rem 0 4rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: url("../img/meto.jpg");
    background-size: contain;
  }
  .main-todo2 .artdesccs .titcrean .h2decrea {
    font-size: 2rem;
  }
  .main-todo2 .artdesccs .papre {
    display: flex;
    margin-left: 4rem;
    margin-right: 2rem;
    text-align: justify;
    width: 32rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 415px) and (max-width: 720px) {
  /* PAGINA DE CURSOS RESPONSIVE */
  .main-todo2 .sdecur .pnp {
    margin-left: 10rem;
  }
  .main-todo2 .secparascss .todo {
    display: grid;
    grid-template-areas: "item2 item2 item2" "item1 item1 item1" "item3 item3 item3";
    margin-left: 12rem;
    justify-content: center;
    padding-right: 8rem;
  }
  .main-todo2 .secparascss .todo .item2 {
    text-align: center;
    width: 20rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  .main-todo2 .secparascss .todo .item1 {
    margin-left: 3rem;
    margin-right: 0;
  }
  .main-todo2 .secparascss .todo .imgdecurso {
    height: 10rem;
    width: 20rem;
  }
  .main-todo2 .secparascss .todo .pdeitem3 {
    font-size: 1rem;
    width: 20rem;
    margin-left: 3rem;
    height: auto;
  }
  .main-todo2 .artdesccs .titcrean {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 4rem 0 4rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: url("../img/meto.jpg");
    background-size: contain;
  }
  .main-todo2 .artdesccs .titcrean .h2decrea {
    font-size: 2rem;
    font-weight: bold;
  }
  .main-todo2 .artdesccs .papre {
    display: flex;
    margin-left: 20rem;
    margin-right: 2rem;
    text-align: justify;
    width: 32rem;
    line-height: 1.6rem;
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 414px) {
  .main-todo2 .formulario {
    margin-left: 3.5rem;
  }
}
@media (min-width: 415px) and (max-width: 720px) {
  .main-todo2 .formulario {
    margin-left: 19rem;
  }
}
@media (max-width: 414px) {
  .main-todo2 {
    background-color: #000000;
    color: white;
    padding-top: 8rem;
  }
  .main-todo2 .sectiondeelegirnos .p-raz {
    height: 10rem;
    width: 20rem;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .main-todo2 .sectiondeelegirnos .p-raza {
    height: 10rem;
    width: 20rem;
    margin-right: 0rem;
    margin-top: 2rem;
  }
  .main-todo2 .arquitectura {
    display: none;
  }
  .sectdemaes .mkt {
    margin-left: 2rem;
  }
}
@media (min-width: 415px) and (max-width: 720px) {
  .main-todo2 {
    background-color: #000000;
    color: white;
    padding-top: 8rem;
  }
  .main-todo2 .sectiondeelegirnos .p-raz {
    width: 25rem;
    margin-left: 5rem;
  }
  .main-todo2 .sectiondeelegirnos .p-raza {
    width: 25rem;
    margin-left: 4rem;
  }
}
@media (max-width: 414px) {
  .main-todo3 {
    padding-bottom: 6rem;
    /* tercera seccion */
  }
  .main-todo3 .c-1 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 0rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .main-todo3 .c-2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 0rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .main-todo3 .c-3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 11rem;
  }
  .h2-facul {
    font-size: 1.5rem;
  }
  .c-4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .c-5 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
  .c-6 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 0rem;
  }
  .c-7,
  .c-8,
  .c-9 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .c-7.c-8,
  .c-8.c-8,
  .c-9.c-8 {
    margin-left: 0rem;
  }
  .arquitectura {
    display: none;
  }
}
@media (min-width: 415px) and (max-width: 720px) {
  .main-todo3 {
    padding-bottom: 6rem;
  }
  .main-todo3 .h2-facul {
    font-size: 2.5rem;
  }
  .main-todo3 .c-7,
  .main-todo3 .c-8,
  .main-todo3 .c-9 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
  .main-todo3 .c-7.c-8,
  .main-todo3 .c-8.c-8,
  .main-todo3 .c-9.c-8 {
    margin-left: 3rem;
    margin-top: 4rem;
  }
}
@media (max-width: 414px) {
  #volverainicio {
    color: white;
    /* sección siguiente */
    /* EVENTOS */
    /* NUESTROS ALUMNOS */
    /* CONOCE MAS */
  }
  #volverainicio.main-todo {
    background-color: #000000;
    color: white;
    font-family: "Hind", sans-serif;
  }
  #volverainicio.main-todo .main-principio .main-titulos {
    margin-left: 0rem;
  }
  #volverainicio.main-todo .main-principio .main-titulos .main-h5 {
    display: none;
    visibility: hidden;
    margin-left: 0rem;
  }
  #volverainicio.main-todo .main-principio .sec .h1-index {
    font-size: 3.5rem;
    color: white;
    margin-left: 9.8rem;
  }
  #volverainicio.main-todo .main-principio .main-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #volverainicio.main-todo .main-principio .main-imagenes .main-img {
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;
    border: 0.2rem solid rgb(255, 255, 255);
    transition: transform 0.3s ease;
  }
  #volverainicio.main-todo .main-principio .main-imagenes .main-img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  #volverainicio .secse .main-sede {
    font-size: 1.5rem;
    margin-top: 60rem;
    margin-bottom: 3rem;
  }
  #volverainicio .secse .main-sede .h2-main {
    font-size: 3rem;
    background-image: url(../img/fondoarenaypinitos.png);
    border-top: 0.3rem solid white;
    border-bottom: 0.3rem solid white;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 14rem;
    background-size: contain;
    background-position: center center;
    color: white;
    text-align: center;
  }
  #volverainicio .secse .sedes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #volverainicio .secse .sedesfondo .titulosede {
    margin-bottom: 0rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
  #volverainicio .secciondesc .eventotitulo {
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: url(../img/fondoedificio.png);
    background-size: contain;
    background-position: center center;
    color: white;
    text-align: center;
  }
  #volverainicio .secciondesc .cuerpoevento {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
  }
  #volverainicio .secciondesc .cuerpoevento .imgevento {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  #volverainicio .secciondesc .cuerpoevento .imgevento .imgeventos {
    height: 15rem;
    width: 18rem;
    border: 2px solid rgb(255, 255, 255);
  }
  #volverainicio .secciondesc .cuerpoevento .imgevento .h3-p {
    height: 15rem;
    width: 18rem;
    margin-left: 2.5rem;
  }
  #volverainicio .secciondesc .cuerpoevento .imgevento .h3-p .h3-evento {
    font-size: 1.2rem;
    width: 18rem;
    text-align: center;
  }
  #volverainicio .secciondesc .cuerpoevento .imgevento .h3-p .pdeevento {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: justify;
  }
  #volverainicio .secciondesc .letrablanca {
    color: white;
  }
  #volverainicio .secciondesc .h2-evento {
    font-size: 2rem;
    color: white;
  }
  #volverainicio .secciondesc .pdeevento {
    font-size: 0.5rem;
    margin-top: 0.5rem;
    text-align: justify;
  }
  #volverainicio .section-alumnos .art-alumnos {
    font-size: 2rem;
    color: white;
  }
  #volverainicio .section-alumnos .sedesalumnos .alumno .sede-al {
    text-align: center;
    font-size: 1.2rem;
  }
  #volverainicio .section-alumnos .sedesalumnos .alumno2 {
    margin-right: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 2px solid white;
    border-left: 2px solid white;
  }
  #volverainicio .section-alumnos .sedesalumnos .alumno2 .sede-al {
    text-align: center;
    font-size: 1.2rem;
  }
  #volverainicio .section-alumnos .art-alumnos2 .img-2,
  #volverainicio .section-alumnos .art-alumnos2 .img-3 {
    display: flex;
  }
  #volverainicio .section-alumnos .art-alumnos2 .img-2 .div-alumnos,
  #volverainicio .section-alumnos .art-alumnos2 .img-3 .div-alumnos {
    margin-right: 0rem;
  }
  #volverainicio .section-alumnos .art-alumnos2 .img-2 .img-alumnos,
  #volverainicio .section-alumnos .art-alumnos2 .img-3 .img-alumnos {
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;
    border: 2px solid white;
  }
  #volverainicio .section .artdesc .cococe-tityimg,
  #volverainicio .section .artdesc .cococe-tityimgdos {
    display: flex;
    justify-content: space-evenly;
  }
  #volverainicio .section .artdesc .cococe-tityimg.c1,
  #volverainicio .section .artdesc .cococe-tityimgdos.c1 {
    justify-content: space-evenly;
  }
  #volverainicio .section .artdesc .cococe-tityimg .h3-conoce,
  #volverainicio .section .artdesc .cococe-tityimgdos .h3-conoce {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
  #volverainicio .section .artdesc .cococe-tityimg .c1,
  #volverainicio .section .artdesc .cococe-tityimgdos .c1 {
    margin-left: 1rem;
  }
  #volverainicio .section .artdesc .cococe-tityimg .c2,
  #volverainicio .section .artdesc .cococe-tityimgdos .c2 {
    margin-left: 0rem;
  }
  #volverainicio .section .artdesc .cococe-tityimg .c3,
  #volverainicio .section .artdesc .cococe-tityimgdos .c3 {
    margin-right: 1.5rem;
  }
  #volverainicio .section .artdesc .cococe-tityimg .c4,
  #volverainicio .section .artdesc .cococe-tityimgdos .c4 {
    margin-right: 3rem;
  }
  #volverainicio .section .artdesc .cococe-tityimg .img-cococe,
  #volverainicio .section .artdesc .cococe-tityimgdos .img-cococe {
    height: 15rem;
    width: 15rem;
  }
  #volverainicio .section .artdesc .cococe-tityimg .p-cococe,
  #volverainicio .section .artdesc .cococe-tityimgdos .p-cococe {
    height: 10rem;
    width: 15rem;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 415px) and (max-width: 720px) {
  #volverainicio {
    color: white;
  }
  #volverainicio.main-todo {
    background-color: #000000;
    color: white;
    font-family: "Hind", sans-serif;
    overflow-x: hidden;
  }
  #volverainicio.main-todo .main-principio .main-titulos {
    margin-left: 0rem;
  }
  #volverainicio.main-todo .main-principio .main-titulos .main-h5 {
    display: none;
    visibility: hidden;
    margin-left: 0rem;
  }
  #volverainicio.main-todo .main-principio .sec .h1-index {
    font-size: 3.5rem;
    color: white;
    margin-left: 15rem;
  }
  #volverainicio.main-todo .main-principio .main-imagenes {
    display: flex;
    align-items: center;
  }
  #volverainicio.main-todo .main-principio .main-imagenes .main-img {
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;
    border: 0.2rem solid rgb(255, 255, 255);
    transition: transform 0.3s ease;
  }
  #volverainicio.main-todo .main-principio .main-imagenes .main-img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
@media (max-width: 414px) {
  header {
    background-color: #000000;
    height: 20rem;
    width: 414px;
    font-size: small;
    color: white;
    position: none;
    font-family: "Hind", sans-serif;
    z-index: 999;
  }
  header .header-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.1rem solid rgb(255, 255, 255);
  }
  header .header-nav .header-logo {
    height: 5rem;
    width: 20rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    padding-top: 0.2rem;
  }
  header .header-nav .header-lista {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40rem;
    margin-top: 0rem;
    margin-left: 0rem;
    padding-left: 0rem;
    margin-right: 0rem;
  }
  header .header-nav .header-lista .header-enlace {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin-right: 0rem;
    cursor: pointer;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header .header-nav .header-lista .header-enlace:hover {
    background-color: rgb(36, 35, 42);
    color: rgb(255, 255, 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid white;
    text-align: center;
  }
}
@media (min-width: 415px) and (max-width: 720px) {
  header {
    background-color: #000000;
    height: 8.1rem;
    font-size: small;
    color: white;
    position: fixed;
    font-family: "Hind", sans-serif;
    z-index: 999;
  }
  header .header-nav {
    height: 100%;
    display: flex;
    text-align: center;
    border-bottom: 0.1rem solid rgb(255, 255, 255);
  }
  header .header-nav .header-logo {
    height: 4rem;
    width: 17rem;
    margin-left: 6rem;
    margin-top: 1.1rem;
    margin-right: 8rem;
    padding-top: 1.5rem;
  }
  header .header-nav .header-lista {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin-top: 3.2rem;
    margin-left: 2rem;
  }
  header .header-nav .header-lista .header-enlace {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  header .header-nav .header-lista .header-enlace:hover {
    background-color: rgb(36, 35, 42);
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid white;
    text-align: center;
  }
}
@media (max-width: 414px) {
  footer {
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: #000000;
    padding-top: 8rem;
  }
  footer .container {
    max-width: 150rem;
    margin: 0 auto;
  }
  footer .container .img_creditos2 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 0rem;
    margin-bottom: 3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  footer .container .img_creditos2 .logito-foot {
    height: 4rem;
    width: 20rem;
    transition: transform 0.3s ease;
  }
  footer .container .img_creditos2 .logito-foot:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  footer .container .footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 4rem;
  }
  footer .container .footer_row .footer_links {
    width: 30rem;
    padding: 0 1.5rem;
    margin: 1rem;
    margin-left: 7rem;
  }
  footer .container .footer_row .footer_links .ubii {
    margin-left: 2rem;
  }
  footer .container .footer_row .footer_links .footer_ubi a img {
    width: 2rem;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 0.2rem;
    margin-right: 1rem;
  }
  footer .container .footer_row .footer_links .footer_ubi a img:hover {
    background-color: #003e08;
    transition: all 0.5s ease;
  }
  footer .container .footer_row .footer_links h4 {
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    border-bottom: 0.2rem solid #15751e;
    padding-bottom: 1rem;
    display: inline-block;
  }
  footer .container .footer_row .footer_links ul li a {
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
  }
  footer .container .footer_row .footer_links ul li a:hover {
    color: aqua;
    padding-left: 0.6rem;
  }
  footer .container .footer_row .footer_links h4.nav {
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    border-bottom: 0.2rem solid #15751e;
    padding-bottom: 1rem;
    display: inline-block;
  }
  footer .container .footer_row .footer_links ul.ullo li.ulnav a {
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
  }
  footer .container .footer_row .footer_links ul.ullo li.ulnav a:hover {
    color: aqua;
    padding-left: 0.6rem;
  }
  footer .container .footer_row .footer_links h4.con {
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    border-bottom: 0.2rem solid #15751e;
    padding-bottom: 1rem;
    display: inline-block;
  }
  footer .container .footer_row .footer_links form.fmr input.inputfoo,
  footer .container .footer_row .footer_links form.fmr button.btn {
    margin-bottom: 1rem;
    display: block;
    width: 14.5rem;
    height: 2rem;
  }
  footer .container .footer_row .footer_links form.fmr input.inputfoo::placeholder {
    padding: 0.2rem 0 0.2rem 0.4rem;
  }
  footer .container .footer_row .footer_links form.fmr button.btn {
    background-color: #15751e;
    border-radius: 1rem;
    height: 3.5rem;
    width: 15rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  footer .container .footer_row .footer_links form.fmr button.btn:hover {
    background-color: #003e08;
    transition: all 0.5s ease;
  }
  footer .container .redes {
    display: flex;
    justify-content: center;
  }
  footer .container .redes .footer_links {
    width: 30rem;
    margin-left: 9rem;
  }
  footer .container .redes .footer_links .social_links a {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: #003e08;
    margin: 0 1rem 1rem 0;
    line-height: 2rem;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    padding: 1rem;
    transition: transform 0.3s ease;
  }
  footer .container .redes .footer_links .social_links a:hover {
    background-color: rgba(0, 62, 8, 0.5529411765);
    transform: translateY(-10px);
    cursor: pointer;
  }
  footer .container .img_creditos {
    display: flex;
    justify-content: center;
    padding-right: 0rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
}
@media (min-width: 415px) and (max-width: 720px) {
  footer {
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: #000000;
    padding: 8rem 0;
  }
  footer .container {
    max-width: 150rem;
    margin: 0 auto;
  }
  footer .container .img_creditos2 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 0rem;
    margin-bottom: 3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  footer .container .img_creditos2 .logito-foot {
    height: 4rem;
    width: 20rem;
    transition: transform 0.3s ease;
  }
  footer .container .img_creditos2 .logito-foot:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  footer .container .footer_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
  }
  footer .container .footer_row .footer_links {
    width: 30rem;
    padding: 0 1.5rem;
    margin: 1rem;
    margin-left: 22.5rem;
  }
  footer .container .footer_row .footer_links .ubii {
    margin-left: 2rem;
  }
  footer .container .footer_row .footer_links .footer_ubi a img {
    width: 2rem;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 0.2rem;
    margin-right: 1rem;
  }
  footer .container .footer_row .footer_links .footer_ubi a img:hover {
    background-color: #003e08;
    transition: all 0.5s ease;
  }
  footer .container .footer_row .footer_links h4 {
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    border-bottom: 0.2rem solid #15751e;
    padding-bottom: 1rem;
    display: inline-block;
  }
  footer .container .footer_row .footer_links ul li a {
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
  }
  footer .container .footer_row .footer_links ul li a:hover {
    color: aqua;
    padding-left: 0.6rem;
  }
  footer .container .footer_row .footer_links h4.nav {
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    border-bottom: 0.2rem solid #15751e;
    padding-bottom: 1rem;
    display: inline-block;
  }
  footer .container .footer_row .footer_links ul.ullo li.ulnav a {
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
  }
  footer .container .footer_row .footer_links ul.ullo li.ulnav a:hover {
    color: aqua;
    padding-left: 0.6rem;
  }
  footer .container .footer_row .footer_links h4.con {
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    border-bottom: 0.2rem solid #15751e;
    padding-bottom: 1rem;
    display: inline-block;
  }
  footer .container .footer_row .footer_links form.fmr input.inputfoo,
  footer .container .footer_row .footer_links form.fmr button.btn {
    margin-bottom: 1rem;
    display: block;
    width: 14.5rem;
    height: 2rem;
  }
  footer .container .footer_row .footer_links form.fmr input.inputfoo::placeholder {
    padding: 0.2rem 0 0.2rem 0.4rem;
  }
  footer .container .footer_row .footer_links form.fmr button.btn {
    background-color: #15751e;
    border-radius: 1rem;
    height: 3.5rem;
    width: 15rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  footer .container .footer_row .footer_links form.fmr button.btn:hover {
    background-color: #003e08;
    transition: all 0.5s ease;
  }
  footer .container .redes {
    display: flex;
    justify-content: center;
  }
  footer .container .redes .footer_links {
    width: 30rem;
    margin-left: 10rem;
  }
  footer .container .redes .footer_links .social_links a {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: #003e08;
    margin: 0 1rem 1rem 0;
    line-height: 2rem;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    padding: 1rem;
    transition: transform 0.3s ease;
  }
  footer .container .redes .footer_links .social_links a:hover {
    background-color: rgba(0, 62, 8, 0.5529411765);
    transform: translateY(-10px);
    cursor: pointer;
  }
  footer .container .img_creditos {
    display: flex;
    justify-content: center;
    padding-right: 0rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* INDEX */
/* estilo al header */
header {
  background-color: #000000;
  height: 8.1rem;
  font-size: small;
  color: white;
  position: fixed;
  font-family: "Hind", sans-serif;
  z-index: 999;
}
header .header-nav {
  height: 100%;
  display: flex;
  text-align: center;
  border-bottom: 0.1rem solid rgb(255, 255, 255);
}
header .header-logo {
  height: 4rem;
  width: 17rem;
  margin-left: 6rem;
  margin-top: 1.1rem;
  margin-right: 8rem;
  padding-top: 1.5rem;
}
header .header-lista {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding-left: 3rem;
  margin-right: 10rem;
  margin-top: 3.2rem;
  margin-left: 38rem;
}
header .header-lista .header-enlace {
  color: white;
  text-decoration: none;
  font-size: small;
  margin-right: 1rem;
  cursor: pointer;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .header-lista .header-enlace:hover {
  background-color: rgb(36, 35, 42);
  color: rgb(255, 255, 255);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid white;
  text-align: center;
}

/* MAIN */
/* sección inicial */
/* SEDES */
#volverainicio.main-todo {
  background-color: #000000;
  color: white;
  font-family: "Hind", sans-serif;
  padding-bottom: 4rem;
}
#volverainicio.main-todo .main-principio {
  background-color: #000000;
  height: 38rem;
  padding-bottom: 6rem;
}
#volverainicio.main-todo .main-principio .main-titulos {
  justify-content: flex-start;
  padding-top: 14rem;
  padding-left: 1rem;
  padding-bottom: 2.5rem;
}
#volverainicio.main-todo .main-principio .main-titulos .main-h5 {
  margin-left: 20rem;
  color: white;
}
#volverainicio.main-todo .main-principio .sec h1, #volverainicio.main-todo .main-principio .sec2 h1 {
  font-size: 3.5rem;
  color: white;
  margin-left: 20rem;
}
#volverainicio.main-todo .main-principio .main-imagenes {
  display: flex;
  justify-content: space-evenly;
}
#volverainicio.main-todo .main-principio .main-imagenes .main-img {
  height: 20rem;
  width: 20rem;
  margin-top: 2rem;
  border: 0.2rem solid rgb(255, 255, 255);
  transition: transform 0.3s ease;
}
#volverainicio.main-todo .main-principio .main-imagenes .main-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* sección siguiente */
.secse .main-sede {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.secse .h2-main {
  font-size: 3rem;
  background-image: url(../img/fondoarenaypinitos.png);
  border-top: 0.3rem solid white;
  border-bottom: 0.3rem solid white;
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin-top: 14rem;
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
}
.secse .letrablanca {
  color: white;
}
.secse .sedes {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  margin-top: 5rem;
}
.secse .sedesfondo {
  text-align: center;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.secse .sedesfondo .titulosede {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.secse .sedesfondo .sede1 {
  height: 25rem;
  width: 25rem;
  border: 2px solid rgb(255, 255, 255);
}
.secse .sedesfondo .sedetexto {
  text-align: center;
  font-size: 1rem;
  margin-top: 1.5rem;
}

/* EVENTOS */
.secciondesc .eventotitulo {
  font-size: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-image: url(../img/fondoedificio.png);
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
}
.secciondesc .cuerpoevento {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}
.secciondesc .cuerpoevento .imgevento {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.secciondesc .cuerpoevento .imgevento .imgeventos {
  height: 15rem;
  width: 18rem;
  border: 2px solid rgb(255, 255, 255);
}
.secciondesc .cuerpoevento .imgevento .h3-p {
  height: 15rem;
  width: 20rem;
  margin-left: 2.5rem;
}
.secciondesc .cuerpoevento .imgevento .h3-p .h3-evento {
  font-size: 1.2rem;
  width: 20rem;
  text-align: center;
}
.secciondesc .cuerpoevento .imgevento .h3-p .pdeevento {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: justify;
}
.secciondesc .letrablanca {
  color: white;
}
.secciondesc .h2-evento {
  font-size: 2rem;
  color: white;
}
.secciondesc .pdeevento {
  font-size: 0.5rem;
  margin-top: 0.5rem;
  text-align: justify;
}

/* NUESTROS ALUMNOS */
.section-alumnos .art-alumnos {
  font-size: 2rem;
  color: white;
}
.section-alumnos .art-alumnos .h2-alumnos {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-image: url("../img/fondoestudiantes.png");
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
}
.section-alumnos .sedesalumnos {
  justify-content: space-evenly;
  color: white;
  font-size: 1rem;
  display: flex;
  margin-top: 5rem;
}
.section-alumnos .sedesalumnos .alumno {
  margin-left: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
.section-alumnos .sedesalumnos .alumno .sede-al {
  text-align: center;
}
.section-alumnos .sedesalumnos .alumno2 {
  margin-right: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
.section-alumnos .sedesalumnos .alumno2 .sede-al {
  text-align: center;
}
.section-alumnos .art-alumnos2 {
  display: flex;
  justify-content: space-evenly;
}
.section-alumnos .art-alumnos2 .img-2, .section-alumnos .art-alumnos2 .img-3 {
  display: flex;
}
.section-alumnos .art-alumnos2 .img-2 .div-alumnos, .section-alumnos .art-alumnos2 .img-3 .div-alumnos {
  margin-right: 0rem;
}
.section-alumnos .art-alumnos2 .img-2 .img-alumnos, .section-alumnos .art-alumnos2 .img-3 .img-alumnos {
  height: 15rem;
  width: 15rem;
  margin-top: 4rem;
  border-bottom: 1rem solid white;
  border-top: 1rem solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

/* CONOCE MAS */
.section .h2-cococemas {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-image: url("../img/fondoflores.png");
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
  font-size: 2rem;
}
.section .artdesc .cococe-tityimg, .section .artdesc .cococe-tityimgdos {
  display: flex;
  justify-content: space-evenly;
}
.section .artdesc .cococe-tityimg.c1, .section .artdesc .cococe-tityimgdos.c1 {
  justify-content: space-evenly;
}
.section .artdesc .cococe-tityimg .h3-conoce, .section .artdesc .cococe-tityimgdos .h3-conoce {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.section .artdesc .cococe-tityimg .c1, .section .artdesc .cococe-tityimgdos .c1 {
  margin-left: 0.5rem;
}
.section .artdesc .cococe-tityimg .c2, .section .artdesc .cococe-tityimgdos .c2 {
  margin-left: 1.5rem;
}
.section .artdesc .cococe-tityimg .c3, .section .artdesc .cococe-tityimgdos .c3 {
  margin-right: 4rem;
}
.section .artdesc .cococe-tityimg .c4, .section .artdesc .cococe-tityimgdos .c4 {
  margin-right: 4rem;
}
.section .artdesc .cococe-tityimg .img-cococe, .section .artdesc .cococe-tityimgdos .img-cococe {
  height: 20rem;
  width: 20rem;
  border: 2px solid white;
  margin-top: 1rem;
}
.section .artdesc .cococe-tityimg .p-cococe, .section .artdesc .cococe-tityimgdos .p-cococe {
  height: 10rem;
  width: 20rem;
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=index.css.map */
