*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: 62,5;
    font-family: sans-serif;
}


/* fuentes de letras
font-family: 'Asap', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Hind', sans-serif; */
/* pistacho 9BBD54 */
/* #217B33 verde oscurito lindo */
/* INDEX */
/* estilo al header */


header{
    background-color: #000000;
    height: 8.1rem;
    width: 100%;
    font-size: small;
    color: white;
    position: fixed;
    font-family: 'Hind', sans-serif;
}
.header-nav{
    height: 100%;
    display: flex;
    text-align: center;
    border-bottom: 0.1rem solid rgb(255, 255, 255);
}
.header-logo{
    height: 4rem;
    width: 17rem;
    margin-left: 6rem;
    margin-top: 1.1rem;
    margin-right: 8rem;
    padding-top: 1.5rem;
}

.header-lista{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin-top: 3.2rem;
    margin-left: 14rem;
}
.header-enlace{
    color: white;
    text-decoration: none;
    font-size: small;
    margin-right: 1.8rem;
    cursor: pointer;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.header-enlace:hover{
    background-color: rgb(36, 35, 42);
    color: rgb(255, 255, 255);
    padding-top:3rem;
    padding-bottom:3.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid white;
    text-align: center;
}


/* AGREGAR HOVER NO ME SALE */
/* MAIN   */
/* seccion inicial */
/* SEDES */


.main-todo{
    background-color: #000000;
    color: white;
    font-family: 'Hind', sans-serif;
}
.main-principio{
    background-color: #000000;
    height: 38rem;
    padding-bottom: 6rem;
}
.main-titulos{
    justify-content: flex-start;
    padding-top: 14rem;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
}
.main-h5{
    margin-left: 5.5rem;
    color: white;
    
}
h1{
    font-size: 3.5rem;
    color: white;
    margin-left: 4rem;
}
.main-imagenes{
    display: flex;
    justify-content: space-evenly;
}
.main-img{
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    border: 0.2rem solid rgb(255, 255, 255);
}


/* seccion siguiente */


.main-sede{
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.h2-main{
    text-align: center;
    font-size: 3rem;
    background-image: url(../img/fondoarenaypinitos.png);
    background-size: contain;
    background-position: center center;
    border-top: 0.3rem solid white;
    border-bottom: 0.3rem solid white;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 14rem;
    color: white;
}
.letrablanca{
    color: white;
}
.sedes{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    margin-top: 5rem;
}
.sedesfondo{
    text-align: center;
    margin: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.titulosede{
    margin-bottom: 2.5rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
.sede1{
    height: 25rem;
    width: 25rem;
    border: 2px solid rgb(255, 255, 255);
}
.sedetexto{
    text-align: center;
    font-size: 1rem;
}


/* EVENTOS */


.eventotitulo{
    text-align: center;
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    border-top:  2px solid white;
    border-bottom: 2px solid white;
    background-image: url(../img/fondoedificio.png);
    background-size: contain;
    background-position: center center;
    color: white;
}
.cuerpoevento{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.imgevento{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.imgeventos{
    height: 15rem;
    width: 18rem;
    border: 2px solid rgb(255, 255, 255);
}
.h3-p{
    text-align: justify center;
    height: 15rem;
    width: 20rem;
    margin-left: 2.5rem; 
}
.h3-evento{
    font-size: 1.2rem;
    width: 25rem;
}
.pdeevento{
    font-size: 0.5 ;
    margin-top: 0.5rem;
    text-align: justify;
}


/* NUESTROS ALUMNOS */


.art-alumnos{
    font-size: 2rem;
    color: white;
}
.h2-alumnos{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-image: url('../img/fondoestudiantes.png');
    background-size: contain;
}
.sedesalumnos{
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    display: flex;
    margin-top: 5rem;
}
.alumno{
    margin-left: 8rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.alumno2{
    margin-right: 10rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.art-alumnos2{
    display: flex;
    justify-content: space-around;
}
.img-2{
    display: flex;
}
.div-alumnos{
    margin-right: 2rem;
}
.img-alumnos{
    height: 15rem;
    width: 15rem;
    margin-top: 4rem;
    border-bottom: 1rem solid white;
    border-top: 1rem solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;

}
.img-3{
    display: flex;
}


/* CONOCE MAS */


.h2-cococemas{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-image: url('../img/fondoflores.png');
    background-size: contain;
    background-position: center center;
    color: white;
    font-size: 2rem;
}
.cococe-tityimg{
    display: flex;
    justify-content: space-evenly;
}
.cococe-tityimgdos{
    display: flex;
}
.h3-conoce{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
}

.c1{
    margin-left: 0.5rem;
}
.c2{
    margin-left: 1.5rem;
} 
.c3{
    margin-left: 15rem;
}
.c4{
    margin-left: 19rem;
} 
.img-cococe{
    height: 20rem;
    width: 20rem;
    border: 2px solid white;
    margin-top: 1rem;
}
.p-cococe{
    height: 10rem;
    width: 20rem;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}


/* FOOTER */

footer{
    box-sizing: border-box;
    text-transform: capitalize;
    
}
.img_creditos2{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
    margin-bottom: 3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.logito-foot{
    height: 4rem;
    width: 20rem;
}

.img_creditos{
    display: flex;
    justify-content: center;
    padding-right: 4rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.footer{
    background-color: #000000;
    padding: 8rem 0;
}

.footer_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 4rem;
}

.footer_links{
    width: 25%;
    padding: 0 1.5rem;
    margin: 1rem;
}

/* ubicacion */
.footer-h4{
    margin-left: 2rem;
}
.footer_ubi a img{
    width: 2rem;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 0.2rem;
    margin-right: 1rem;
}
.footer_ubi a img:hover{
    background-color: #003e08;
    transition: all .5s ease;
}
/* fin de ubi */

.footer_links h4{
    color: white;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    border-bottom: 0.2rem solid #15751e;
    padding-bottom: 1rem;
    display: inline-block;
}
.footer_links ul li a{
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 1.5rem;
    transition: all .3s ease;
    
}

.footer_links ul li a:hover{
    color: aqua;
    padding-left: 0.6rem;
}

.social_links a{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: #003e08;
    margin: 0 1rem 1 rem 0;
    line-height: 2rem;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
    padding: 1rem;
}

.social_links a:hover{
    background-color: #003e088d;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes .footer_links{

    width: 20rem
}

/* Contacto */
/* input */
input, button{
    margin-bottom: 1rem;
    display: block;
    width: 14.5rem;
    height: 2rem;
    
}
form ::placeholder {
    padding: 0.2rem 0 0.2rem 0.4rem;
}
/* botón */
.btn{
    background-color: #15751e;
    border-radius: 1rem;
    height: 3.5rem;
    width: 15rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: #003e08;
    transition: all .5s ease;
}
/* fin del botón */
.detalles{
    margin-top: 4rem;
    color: white;
    width: 20rem;
}
@media(max-width:9.9rem) {
    .footer_row{
        text-align: center;
    }
    .footer_links{
        width: 100%;
        margin-bottom: 3rem;
    }
    
}
.main-todo2{
    background-color: #000000;
    color: white;
    padding-top: 10rem;
}



/* 
2DA PAGINA  CARRERAS */



/* MAIN */

/* titulo */


.main-todo3{
    background-color: #000000;
    color: white;
    padding-top: 8rem;
}
.ds{
    display: flex;
}
.titulo-1{
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin-bottom: 4rem;
    background-image: url('../img/diseño.png');
    background-position: center;
    border: 2px solid white;
    font-size: 2rem;
}


/* primera seccion */


.ds2{
    display: flex;
    justify-content: space-around;
}
.c-1{
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.p-1{
    height: 5rem;
    width: 20rem;
    text-align: justify;
}


/* segunda seccion */


.s2{
    margin-top: 4rem;
}
.c-2{
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}


/* tercera seccion */


.c-3{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 11rem;
}


/* MAIN2 */
/* primera seccion */

.titulo-2{
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url('../img/dolares.png');
    background-position: center;
    font-size: 2rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
    border: 2px solid white;
    
}

.c-4{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.p-2{
    height: 5rem;
    width: 20rem;
    text-align: justify;
    margin-bottom: 6rem;
}
.p-3{
    height: 5rem;
    width: 20rem;
    text-align: justify;
    margin-bottom: 6rem;
}
.c-5{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 4rem;
}
.c-6{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-top: 4rem;
}


/* TERCERA FACULTAD */


.titulo-3{
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url('../img/ciencias.png');
    background-position: center;
    font-size: 2rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
    border: 2px solid white;
}
.c-7{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
}
.c-8{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-top: 4rem;
}
.c-9{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 4rem;
}



/* PAGINA CONTACTO */



/* titulo de conta */
.formulario{
    height: 24rem;
    width: 37rem;
    background-image: url('../img/pinitoconta.png');
    background-position: 100%;
    border: 2px solid #010a03;
    margin-left: 25rem;
}
.imputs{
    margin-top: 2rem;
}
.contacto{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border: 2px solid white;
    background-image: url('../img/fondoedificio.png');
    background-position: 100%;
    background-size: contain;
}
.email{
    height: 4rem;
    width: 10rem;
    margin-left: 6rem;
}
.consulta{
    width: 25rem;
    margin-left: 6rem;
}
.btn2{
    background-color: #0f1d11;
    border-radius: 1rem;
    height: 3.5rem;
    width: 15rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 10rem;
}
.btn2:hover{
    background-color: #2b442e;
    transition: all .5s ease;
}




/* PAGINA DE MAESTRIAS Y POSGRADOS */


/* titulo de elegirnos */

.p-elegirnos{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    background-image: url('../img/arenayplantita.png');
    background-position: 100%;
    background-size: contain;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.art-razones{
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}

.p-raz{
    height:10rem;
    width: 20rem;
    margin-left: 9rem;
    margin-right: 3rem;
    margin-top: 2rem;
}
.p-raza{
    height:10rem;
    width: 20rem;
    margin-top: 2rem;
}

.list{
    margin-bottom: 1rem;
}