@charset "UTF-8";
.main-todo3 {
  background-color: #000000;
  color: white;
  padding-top: 8rem;
  /* primera seccion */
  /* segunda seccion */
  /* tercera seccion */
}
.main-todo3 .ds {
  display: flex;
  transition: transform 0.3s ease;
}
.main-todo3 .ds:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.main-todo3 .titulo-1 {
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin-bottom: 4rem;
  background-image: url("../img/diseño.png");
  background-position: center center;
  border: 2px solid white;
}
.main-todo3 .ds2 {
  display: flex;
  justify-content: space-around;
}
.main-todo3 .c-1 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.main-todo3 .p-1 {
  height: 5rem;
  width: 20rem;
  text-align: justify;
}
.main-todo3 .s2 {
  margin-top: 4rem;
}
.main-todo3 .c-2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.main-todo3 .c-3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 11rem;
}

/* MAIN2 */
/* primera seccion */
.titulo-2 {
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../img/dolares.png");
  background-position: center center;
  margin-top: 10rem;
  margin-bottom: 4rem;
  border: 2px solid white;
}

.h2-facul {
  font-size: 3.5rem;
}

.c-4 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.p-2,
.p-3 {
  height: 5rem;
  width: 20rem;
  text-align: justify;
  margin-bottom: 6rem;
}

.c-5 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.c-6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 4rem;
  margin-left: 6rem;
}

/* TERCERA FACULTAD */
.titulo-3 {
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../img/ciencias.png");
  background-position: center center;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
  border: 2px solid white;
}

.c-7,
.c-8,
.c-9 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.c-7.c-8,
.c-8.c-8,
.c-9.c-8 {
  margin-left: 3rem;
}
.c-7.c-9,
.c-8.c-9,
.c-9.c-9 {
  margin-top: 4rem;
}

.main-todo2 {
  background-color: #000000;
  color: white;
  padding-top: 8rem;
}
.main-todo2 .sectiondeelegirnos .p-elegirnos {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  background-image: url("../img/arenayplantita.png");
  background-position: 100%;
  background-size: cover;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  transition: transform 0.3s ease;
}
.main-todo2 .sectiondeelegirnos .p-elegirnos:hover {
  transform: scale(1.1);
}
.main-todo2 .sectiondeelegirnos .p-elegirnos .h1_elegirnos {
  font-size: 2rem;
}
.main-todo2 .sectiondeelegirnos .art-razones {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}
.main-todo2 .sectiondeelegirnos .p-raz {
  height: 10rem;
  width: 25rem;
  margin-left: 3rem;
  margin-top: 2rem;
}
.main-todo2 .sectiondeelegirnos .p-raza {
  height: 10rem;
  width: 20rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.main-todo2 .sectiondeelegirnos .list {
  margin-bottom: 1rem;
}
.main-todo2 .sectiondemae .fl-uno {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}
.main-todo2 .sectiondemae .fl-uno:hover {
  transform: scale(1.1);
}
.main-todo2 .sectiondemae .h1-nuestrosprogramas {
  font-size: 2rem;
}
.main-todo2 .sectiondemae .maestria {
  padding: 4rem 0 4rem 0;
  background-image: url("../img/posgrado.png");
  background-position: 100%;
  background-size: cover;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 4rem;
}
.main-todo2 .sectiondemae .titfle {
  display: flex;
  justify-content: space-evenly;
}
.main-todo2 .sectiondemae .titul {
  margin-top: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-todo2 .sectiondemae .direccom {
  margin-right: 1rem;
}
.main-todo2 .sectiondemae .pff {
  text-align: justify;
  height: 8rem;
  width: 20rem;
}
.main-todo2 .sectiondemae .tituldos {
  margin-top: 8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-todo2 .sectiondemae .direcrec {
  width: 22rem;
  text-align: center;
}
.main-todo2 .sectiondemae .titultres {
  margin-top: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-todo2 .sectdemaes .posgra {
  padding: 4rem 0 4rem 0;
  background-image: url("../img/posgrado.png");
  background-position: 100%;
  background-size: cover;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 10rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.main-todo2 .sectdemaes .posgra .mae {
  font-size: 2rem;
}
.main-todo2 .sectdemaes .esped {
  text-transform: uppercase;
}
.main-todo2 .sectdemaes .mkt {
  margin-right: 2rem;
}
.main-todo2 .sectdemaes .espe {
  margin-top: 6rem;
}
.main-todo2 .sectdemaes .fin {
  margin-left: 6rem;
  margin-right: 6rem;
}
.main-todo2 .sectdemaes .titfle {
  display: flex;
  justify-content: space-evenly;
}
.main-todo2 .sectdemaes .arquitectura {
  text-decoration: none;
}
.main-todo2 .sectdemaes .pff {
  text-align: justify;
  height: 8rem;
  width: 20rem;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* INDEX */
/* estilo al header */
header {
  background-color: #000000;
  height: 8.1rem;
  width: 100%;
  font-size: small;
  color: white;
  position: fixed;
  font-family: "Hind", sans-serif;
  z-index: 999;
}
header .header-nav {
  height: 100%;
  display: flex;
  text-align: center;
  border-bottom: 0.1rem solid rgb(255, 255, 255);
}
header .header-logo {
  height: 4rem;
  width: 17rem;
  margin-left: 6rem;
  margin-top: 1.1rem;
  margin-right: 8rem;
  padding-top: 1.5rem;
}
header .header-lista {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
  margin-top: 3.2rem;
  margin-left: 30rem;
}
header .header-lista .header-enlace {
  color: white;
  text-decoration: none;
  font-size: small;
  margin-right: 1rem;
  cursor: pointer;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .header-lista .header-enlace:hover {
  background-color: rgb(36, 35, 42);
  color: rgb(255, 255, 255);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid white;
  text-align: center;
}

/* MAIN */
/* sección inicial */
/* SEDES */
#volverainicio.main-todo {
  background-color: #000000;
  color: white;
  font-family: "Hind", sans-serif;
}
#volverainicio.main-todo .main-principio {
  background-color: #000000;
  height: 38rem;
  padding-bottom: 6rem;
}
#volverainicio.main-todo .main-principio .main-titulos {
  justify-content: flex-start;
  padding-top: 14rem;
  padding-left: 1rem;
  padding-bottom: 2.5rem;
}
#volverainicio.main-todo .main-principio .main-titulos .main-h5 {
  margin-left: 20rem;
  color: white;
}
#volverainicio.main-todo .main-principio .sec h1, #volverainicio.main-todo .main-principio .sec2 h1 {
  font-size: 3.5rem;
  color: white;
  margin-left: 20rem;
}
#volverainicio.main-todo .main-principio .main-imagenes {
  display: flex;
  justify-content: space-evenly;
}
#volverainicio.main-todo .main-principio .main-imagenes .main-img {
  height: 20rem;
  width: 20rem;
  margin-top: 2rem;
  border: 0.2rem solid rgb(255, 255, 255);
  transition: transform 0.3s ease;
}
#volverainicio.main-todo .main-principio .main-imagenes .main-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* sección siguiente */
.secse .main-sede {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.secse .h2-main {
  font-size: 3rem;
  background-image: url(../img/fondoarenaypinitos.png);
  border-top: 0.3rem solid white;
  border-bottom: 0.3rem solid white;
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin-top: 14rem;
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
}
.secse .letrablanca {
  color: white;
}
.secse .sedes {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  margin-top: 5rem;
}
.secse .sedesfondo {
  text-align: center;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.secse .sedesfondo .titulosede {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.secse .sedesfondo .sede1 {
  height: 25rem;
  width: 25rem;
  border: 2px solid rgb(255, 255, 255);
}
.secse .sedesfondo .sedetexto {
  text-align: center;
  font-size: 1rem;
  margin-top: 1.5rem;
}

/* EVENTOS */
.secciondesc .eventotitulo {
  font-size: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-image: url(../img/fondoedificio.png);
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
}
.secciondesc .cuerpoevento {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}
.secciondesc .cuerpoevento .imgevento {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.secciondesc .cuerpoevento .imgevento .imgeventos {
  height: 15rem;
  width: 18rem;
  border: 2px solid rgb(255, 255, 255);
}
.secciondesc .cuerpoevento .imgevento .h3-p {
  height: 15rem;
  width: 20rem;
  margin-left: 2.5rem;
}
.secciondesc .cuerpoevento .imgevento .h3-p .h3-evento {
  font-size: 1.2rem;
  width: 20rem;
  text-align: center;
}
.secciondesc .cuerpoevento .imgevento .h3-p .pdeevento {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: justify;
}
.secciondesc .letrablanca {
  color: white;
}
.secciondesc .h2-evento {
  font-size: 2rem;
  color: white;
}
.secciondesc .pdeevento {
  font-size: 0.5rem;
  margin-top: 0.5rem;
  text-align: justify;
}

/* NUESTROS ALUMNOS */
.section-alumnos .art-alumnos {
  font-size: 2rem;
  color: white;
}
.section-alumnos .art-alumnos .h2-alumnos {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-image: url("../img/fondoestudiantes.png");
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
}
.section-alumnos .sedesalumnos {
  justify-content: space-evenly;
  color: white;
  font-size: 1rem;
  display: flex;
  margin-top: 5rem;
}
.section-alumnos .sedesalumnos .alumno {
  margin-left: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
.section-alumnos .sedesalumnos .alumno .sede-al {
  text-align: center;
}
.section-alumnos .sedesalumnos .alumno2 {
  margin-right: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
.section-alumnos .sedesalumnos .alumno2 .sede-al {
  text-align: center;
}
.section-alumnos .art-alumnos2 {
  display: flex;
  justify-content: space-evenly;
}
.section-alumnos .art-alumnos2 .img-2, .section-alumnos .art-alumnos2 .img-3 {
  display: flex;
}
.section-alumnos .art-alumnos2 .img-2 .div-alumnos, .section-alumnos .art-alumnos2 .img-3 .div-alumnos {
  margin-right: 0rem;
}
.section-alumnos .art-alumnos2 .img-2 .img-alumnos, .section-alumnos .art-alumnos2 .img-3 .img-alumnos {
  height: 15rem;
  width: 15rem;
  margin-top: 4rem;
  border-bottom: 1rem solid white;
  border-top: 1rem solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

/* CONOCE MAS */
.section .h2-cococemas {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-image: url("../img/fondoflores.png");
  background-size: contain;
  background-position: center center;
  color: white;
  text-align: center;
  font-size: 2rem;
}
.section .artdesc .cococe-tityimg, .section .artdesc .cococe-tityimgdos {
  display: flex;
  justify-content: space-evenly;
}
.section .artdesc .cococe-tityimg.c1, .section .artdesc .cococe-tityimgdos.c1 {
  justify-content: space-evenly;
}
.section .artdesc .cococe-tityimg .h3-conoce, .section .artdesc .cococe-tityimgdos .h3-conoce {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.section .artdesc .cococe-tityimg .c1, .section .artdesc .cococe-tityimgdos .c1 {
  margin-left: 0.5rem;
}
.section .artdesc .cococe-tityimg .c2, .section .artdesc .cococe-tityimgdos .c2 {
  margin-left: 1.5rem;
}
.section .artdesc .cococe-tityimg .c3, .section .artdesc .cococe-tityimgdos .c3 {
  margin-right: 4rem;
}
.section .artdesc .cococe-tityimg .c4, .section .artdesc .cococe-tityimgdos .c4 {
  margin-right: 4rem;
}
.section .artdesc .cococe-tityimg .img-cococe, .section .artdesc .cococe-tityimgdos .img-cococe {
  height: 20rem;
  width: 20rem;
  border: 2px solid white;
  margin-top: 1rem;
}
.section .artdesc .cococe-tityimg .p-cococe, .section .artdesc .cococe-tityimgdos .p-cococe {
  height: 10rem;
  width: 20rem;
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=index.css.map */
