$colornegro:#000000;
$veinterem: 20rem;
$unrem:1rem;
$cincorem: 5rem;
$solidwhite:2px solid white;
$mayuscula: uppercase;

.main-todo2 {
    .secdecontacto {
        .contacto {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 8rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            background-image: url('../img/fondoedificio.png');
            background-position: 100%;
            background-size: contain;
            border: $solidwhite;
        }
    }

    .formulario {
        height: 25rem;
        padding: 2rem 5.5rem;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
        border-radius: 2rem;
        text-align: center;
        width: 34rem;
        border: $solidwhite;
        background-position: 100%;
        margin-left: 50rem;
        display: flex;
        justify-content: center;

        .form {
            

            .form-txt {
                display: flex;
                justify-content: space-between;

                a {
                    color: #ffffff;
                    text-decoration: none;
                    margin-bottom: 2.5rem;
                    font-size: 0.8rem;

                    &:hover {
                        color: #555e56;
                    }
                }
            }

            .imput-group {
                display: flex;
                flex-direction: column;
                

                input {
                    background-color: #ffffff;
                    border-radius: $unrem;
                    height: 3rem;
                }

                .email {
                    margin-bottom: $unrem;
                    
                }

                .nombre {
                    margin-bottom: $unrem;
                }

                .textarea {
                    width: 17rem;
                    max-height: 6rem;
                    overflow: hidden;
                    background-color: #ffffff;
                    padding: 2rem 1.4rem;
                    margin-bottom: $unrem;
                    border: 0;
                    border-radius: $unrem;
                    color: $colornegro;

                    &::placeholder {
                        color: $colornegro;
                    }

                    &:focus {
                        outline: $colornegro;
                    }
                }

                .boton {
                    background-color: #ffffff;
                    color: $colornegro;
                    cursor: pointer;
                    height: 4rem;
                    width: 6rem;
                    border-radius: $unrem;
                    margin-left: 5.5rem;

                    &:hover {
                        background-color: #bed1c0;
                    }
                }
            }
        }
    }
}