@import 'carreras';
@import 'maestriasyposgrados';
@import 'cursos';
@import 'contacto.scss';
@import 'footer.scss';
@import 'responsivecurso.scss';
@import 'responsivecontacto.scss';
@import 'responsivemaestriasyposgrados.scss';
@import 'responsivecarreras.scss';
@import 'responsiveindex.scss';
@import 'responsivenav.scss';
@import 'responsivefooter.scss';


$colornegro:#000000;
$veinterem: 20rem;
$unrem:1rem;
$cincorem: 5rem;
$solidwhite:2px solid white;


@mixin estilotitulo {
    background-size: contain;
    background-position: center center;
    color: white;
    text-align: center;
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

/* INDEX */
/* estilo al header */
header {
    background-color: $colornegro;
    height: 8.1rem;
    font-size: small;
    color: white;
    position: fixed;
    font-family: 'Hind', sans-serif;
    z-index: 999;
    .header-nav {
        height: 100%;
        display: flex;
        text-align: center;
        border-bottom: 0.1rem solid rgb(255, 255, 255);
    }
    .header-logo {
        height: 4rem;
        width: 17rem;
        margin-left: 6rem;
        margin-top: 1.1rem;
        margin-right: 8rem;
        padding-top: 1.5rem;
    }
    .header-lista {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 60%;
        padding-left: 3rem;
        margin-right:10rem;
        margin-top: 3.2rem;
        margin-left: 38rem;
        .header-enlace {
            color: white;
            text-decoration: none;
            font-size: small;
            margin-right: $unrem;
            cursor: pointer;
            text-align: center;
            padding-left: $unrem;
            padding-right: $unrem;
        }
        .header-enlace:hover {
            background-color: rgb(36, 35, 42);
            color: rgb(255, 255, 255);
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: $unrem;
            padding-right: $unrem;
            border: 1px solid white;
            text-align: center;
        }
    }
}

/* MAIN */
/* sección inicial */
/* SEDES */
#volverainicio {
    &.main-todo {
        background-color: $colornegro;
        color: white;
        font-family: 'Hind', sans-serif;

        .main-principio {
        background-color: $colornegro;
        height: 38rem;
        padding-bottom: 6rem;

            .main-titulos {
                justify-content: flex-start;
                padding-top: 14rem;
                padding-left: $unrem;
                padding-bottom: 2.5rem;

                .main-h5 {
                margin-left: 20rem;
                color: white;
                }
            }

            .sec, .sec2 {
                h1 {
                    font-size: 3.5rem;
                    color: white;
                    margin-left: $veinterem;
                }
                
            }

            .main-imagenes {
                display: flex;
                justify-content: space-evenly;

                .main-img {
                height: $veinterem;
                width: $veinterem;
                margin-top: 2rem;
                border: 0.2rem solid rgb(255, 255, 255);
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
                }
            }
        }
    }
}

    /* sección siguiente */
    .secse {
        .main-sede {
            font-size: 1.5rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    
        .h2-main {
            font-size: 3rem;
            background-image: url(../img/fondoarenaypinitos.png);
            border-top: 0.3rem solid white;
            border-bottom: 0.3rem solid white;
            padding-bottom: $cincorem;
            padding-top: $cincorem;
            margin-top: 14rem;
            @include estilotitulo;
        }
    
        .letrablanca {
            color: white;
        }
    
        .sedes {
            display: flex;
            justify-content: space-around;
            margin: $unrem;
            margin-top: $cincorem;
        }
    
        .sedesfondo {
            text-align: center;
            margin: $unrem;
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            padding-left: $cincorem;
            padding-right: $cincorem;
    
            .titulosede {
                margin-bottom: 2.5rem;
                font-size: 2rem;
                padding-bottom: 1.5rem;
            }
    
            .sede1 {
                height: 25rem;
                width: 25rem;
                border: 2px solid rgb(255, 255, 255);
            }
    
            .sedetexto {
                text-align: center;
                font-size: $unrem;
                margin-top: 1.5rem;
            }
        }
    }
    
    
    
    /* EVENTOS */
    .secciondesc {
        .eventotitulo {
            font-size: 2rem;
            padding-top: $cincorem;
            padding-bottom: $cincorem;
            margin-top: $cincorem;
            border-top: $solidwhite;
            border-bottom: $solidwhite;
            background-image: url(../img/fondoedificio.png);
            @include estilotitulo;
        }
    
        .cuerpoevento {
            padding-top: $cincorem;
            padding-bottom: $cincorem;
            color: white;
    
            .imgevento {
                display: flex;
                justify-content: center;
                margin-bottom: 4rem;
    
                .imgeventos {
                    height: 15rem;
                    width: 18rem;
                    border: 2px solid rgb(255, 255, 255);
                }
    
                .h3-p {
                    
                    height: 15rem;
                    width: $veinterem;
                    margin-left: 2.5rem;
    
                    .h3-evento {
                        font-size: 1.2rem;
                        width: $veinterem;
                        text-align: center;
                    }
    
                    .pdeevento {
                        font-size: $unrem;
                        margin-top: 0.5rem;
                        text-align: justify;
                    }
                }
            }
        }
        
        .letrablanca {
            color: white;
        }
    
        .h2-evento {
            font-size: 2rem;
            color: white;
        }
    
        .pdeevento {
            font-size: 0.5rem;
            margin-top: 0.5rem;
            text-align: justify;
        }
    }
    
    
    
    /* NUESTROS ALUMNOS */
    .section-alumnos {
        .art-alumnos {
            font-size: 2rem;
            color: white;
    
            .h2-alumnos {
                padding-top: $cincorem;
                padding-bottom: $cincorem;
                border-bottom: $solidwhite;
                border-top: $solidwhite;
                background-image: url('../img/fondoestudiantes.png');
                @include estilotitulo;
            }
        }
        .sedesalumnos {
                justify-content: space-evenly;
                color: white;
                font-size: $unrem;
                display: flex;
                margin-top: $cincorem;
    
                .alumno {
                    margin-left: 0rem;
                    padding-left: $unrem;
                    padding-right: $unrem;
                    border-right: $solidwhite;
                    border-left: $solidwhite;
    
                    .sede-al {
                        text-align: center;
                    }
                }
    
                .alumno2 {
                    margin-right: 0rem;
                    padding-left: $unrem;
                    padding-right: $unrem;
                    border-right: $solidwhite;
                    border-left: $solidwhite;
    
                    .sede-al {
                        text-align: center;
                    }
                }
            }
        
    
        .art-alumnos2 {
            display: flex;
            justify-content: space-evenly;
    
            .img-2, .img-3 {
                display: flex;
    
                .div-alumnos {
                    margin-right: 0rem;
                }
    
                .img-alumnos {
                    height: 15rem;
                    width: 15rem;
                    margin-top: 4rem;
                    border-bottom: 1rem solid white;
                    border-top: 1rem solid white;
                    border-left: $solidwhite;
                    border-right: $solidwhite;
                }
            }
        }
    }
    
    /* CONOCE MAS */
    .section {
        .h2-cococemas {
            margin-top: $cincorem;
            margin-bottom: $cincorem;
            padding-top: $cincorem;
            padding-bottom: $cincorem;
            border-bottom: $solidwhite;
            border-top: $solidwhite;
            background-image: url('../img/fondoflores.png');
            @include estilotitulo;
            font-size: 2rem;
        }
    
        .artdesc {
            .cococe-tityimg, .cococe-tityimgdos {
                display: flex;
                justify-content: space-evenly;
                &.c1 {
                    justify-content: space-evenly;
                }
                
                .h3-conoce {
                    border-bottom: 1px solid white;
                    border-top: 1px solid white;
                }
                .c1 {
                    margin-left: 0.5rem;
                }
    
                .c2 {
                    margin-left: 1.5rem;
                }
    
                .c3 {
                    margin-right: 4rem;
                }
    
                .c4 {
                    margin-right: 4rem;
                }
    
                .img-cococe {
                    height: $veinterem;
                    width: $veinterem;
                    border: $solidwhite;
                    margin-top: $unrem;
                }
    
                .p-cococe {
                    height: 10rem;
                    width: $veinterem;
                    text-align: justify;
                    margin-top: $unrem;
                    margin-bottom: $unrem;
                }
            }
        }
    
            
    }
    // FIN DEL INDEX
    
    